@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
</div>

<p>Phone: 99999-XXXXX <br />Email: training@email.com <br />Address: 123, Street 1<p>