@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<p>The courses offered are detailed below.</p>

<div style="display:flex; gap:20px; margin-top:20px;">

    <div style="flex:1; border:1px solid #ccc; padding:20px; text-align:center; background:#e3f2fd;">
        <h3>Basic</h3>
        <p>This is the basic training where you will get access to recorded sessions. <br>
            <b>Price = 3500</b>
        </p>
    </div>

    <div style="flex:1; border:1px solid #ccc; padding:20px; text-align:center; background:#e8f5e9;">
        <h3>Intermediate</h3>
        <p>You will have access to recorded sessions and will have 2 doubt sessions every weekend. You will also recieve placement support.
            <br>
            <b>Price = 8000</b>
        </p>
    </div>

    <div style="flex:1; border:1px solid #ccc; padding:20px; text-align:center; background:#fff3e0;">
        <h3>Training 3</h3>
        <p>You will have access to recorded sessions and will have 2 doubt sessions every weekend. Placement guaranteed in 6 months or else 50% of the training cost will be refunded.</p><br>
        <b>Price = 15000</b>
    </div>
</div>